@font-face {
    font-family: ClashRegular;
    src: url("/static/Clash_Regular.otf");
}

html > * {
    font-family: ClashRegular;
    color: white;
    text-shadow: 0px 2px 2px black;
}

body {
    height: 100vh;
    background-image: url("/static/bgsquare.png");
    background-size: 15%;
    margin: 0;
}

.filterbtn {
    height: 40px;
    display: inline-flex;
}

.filterbtn > * {
    width: fit-content;
    height: 100%;
    display: inline-flex;
    background-size: contain;
    align-items: center;
    cursor: pointer;
}

.tagtext {
    font-size: 1em;
}

#avgelixir {
    font-size: 1.3em;
    position: absolute;
    top: 88%;
    left: 13%;
}

#rightpane {
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
}

#deckholder {
    width: 100%;
    display:flex;
    position: relative;
}

#infobox {
    background-color: rgb(0, 32, 83);
    padding: 15px 15px 0 15px;
}

#pickercards > * {
    width: 10%;
}

#deck1, #deck2, #deck3, #deck4, #deck5, #deck6, #deck7, #deck8 {
    position: absolute;
    width: 25%;
    height: 40%;
}

#deck1 > *, #deck2 > *, #deck3 > *, #deck4 > *, #deck5 > *, #deck6 > *, #deck7 > *, #deck8 > * {
    width: 100%;
    height: 100%;
}