@font-face {
    font-family: ClashRegular;
    src: url("/static/Clash_Regular.otf");
}

html > * {
    font-family: ClashRegular;
    color: white;
    text-shadow: 0px 2px 2px black;
}

body {
    height: 100vh;
    background-image: url("/static/bgsquare.png");
    background-size: 15%;
    margin: 0;
}

.filterbtn {
    height: 40px;
    display: inline-flex;
}

.filterbtn > * {
    width: fit-content;
    height: 100%;
    display: inline-flex;
    background-size: contain;
    align-items: center;
    cursor: pointer;
}

.clashbtn {
    height: 40px;
    display: inline-flex;
}

.clashbtn > * {
    width: fit-content;
    height: 100%;
    display: inline-flex;
    background-size: contain;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.tagtext {
    font-size: 1em;
    width: 100%;
}

#avgelixir {
    font-size: 1.3em;
    position: absolute;
    top: 88%;
    left: 13%;
}

#avgtrophies {
    font-size: 1em;
    position: absolute;
    top: 88%;
    left: 78.5%;
}

#rightpane {
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

#leftpane {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(16, 100, 196, 0.5);
}

#deckholder {
    width: 100%;
    display:flex;
    position: relative;
}

#infobox {
    background-color: rgb(0, 32, 83);
    padding: 15px 15px 0 15px;
}

#pickercards > * {
    width: 10%;
}

#deck1, #deck2, #deck3, #deck4, #deck5, #deck6, #deck7, #deck8 {
    position: absolute;
    width: 25%;
    height: 40%;
}

#deck1 > *, #deck2 > *, #deck3 > *, #deck4 > *, #deck5 > *, #deck6 > *, #deck7 > *, #deck8 > * {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    #leftpane {
        width: 40%;
    }

    #rightpane {
        width: 60%;
    }
}

.mistake, .warning {
    display: block;
    margin-bottom: 10px;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    padding-left: 12%;
}

.mistake {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    background-image: url('/static/exclamation.png');
}

.warning {
    border: 2px solid yellow;
    background-color: rgba(255, 255, 0, 0.5);
    background-image: url('/static/interrogation.png');
}

#bottombtns {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#bottombtns > * {
    width: 100%;
}