<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/swords.ico" type="image/x-icon">
    <title>Clash Data</title>

    <script src="/static/utils.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div style="display: flex; height: 100%;">
        <div id="leftpane">
            <div id="infobox">
                <span style="font-size: 16pt;">Clash Data Deck Builder ⚔️</span>
                <br>
                <div style="width: 100%;">
                    <span>Common Decks: </span>
                    <select name="common decks" id="commondeckdropdown">
                        <option value="blank">---</option>
                        <option value="26hog">2.6 Hog</option>
                        <option value="lumberloon">LumberLoon</option>
                        <option value="logbait">Log Bait</option>
                        <option value="xbow">X-Bow Cycle</option>
                        <option value="golemdragon">Golem Dragon</option>
                    </select>
                    <script src="/static/commondecks.js"></script>
                </div>
            </div>
            <div id="deckholder">
                <img style="width: 100%;" src="/static/deck.png">

                <div id="deck1"
                    class="cardholder"
                    style="top: 4%; left: 1%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck2"
                    class="cardholder"
                    style="top: 4%; left: 25%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck3"
                    class="cardholder"
                    style="top: 4%; left: 49.5%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck4"
                    class="cardholder"
                    style="top: 4%; left: 73.5%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck5"
                    class="cardholder"
                    style="top: 45%; left: 1%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck6"
                    class="cardholder"
                    style="top: 45%; left: 25%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck7"
                    class="cardholder"
                    style="top: 45%; left: 49.5%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                <div id="deck8"
                    class="cardholder"
                    style="top: 45%; left: 73.5%;"
                    ondrop="dropHandler(event)"
                    ondragover="dragoverHandler(event)"></div>
                
                <span id="avgelixir">0.0</span>
                <span id="avgtrophies">0000</span>
            </div>
            <div id="hintholder" style="height: -webkit-fill-available; padding: 10px;"></div>
            <div id="bottombtns">
                <div class="clashbtn" onclick="export_deck();">
                    <img src="/static/button/greenleft.png">
                    <div class="tagtext" style="background-image: url('/static/button/greenmid.png');">
                        Export
                    </div>
                    <img src="/static/button/greenright.png">
                </div>
                <div class="clashbtn" onclick="import_deck();">
                    <img src="/static/button/blueleft.png">
                    <div class="tagtext" style="background-image: url('/static/button/bluemid.png');">
                        Import
                    </div>
                    <img src="/static/button/blueright.png">
                </div>
                <div class="clashbtn" onclick="clear_deck();">
                    <img src="/static/button/redleft.png">
                    <div class="tagtext" style="background-image: url('/static/button/redmid.png');">
                        Clear
                    </div>
                    <img src="/static/button/redright.png">
                </div>
            </div>
        </div>
        <div id="rightpane">
            <div id="filterbtns" style="width: 100%">
                {% for tag in tags %}
                <div class="filterbtn" onclick="picker.filter_by(this, '{{tag}}');">
                    <img src="/static/button/redleft.png">
                    <div class="tagtext" style="background-image: url('/static/button/redmid.png');">
                        {{ tag }}
                    </div>
                    <img src="/static/button/redright.png">
                </div>
                {% endfor %}
            </div>
            <div id="pickercards"
                ondrop="dropHandler(event)"
                ondragover="dragoverHandler(event)"
                style="overflow-y: auto;"></div>
        </div>
    </div>
</body>
<script>
    const picker = new Picker();
    const deck = new Deck();
    const hintlist = new HintList();

    picker.filter_by(document.getElementsByClassName("filterbtn")[0], 'All');
    hintlist.update([]);
</script>
</html>